<%- include('partials/header.ejs') %>
<div class="container">
    <img style="background-color: greenyellow; border-radius: 100%" width="80vw" src="check-circle-fill.svg" alt="">
    <h3>mail sent to <%=email%></h3>
</div>
<%- include('partials/footer.ejs') %>